header,footer,button {
  background-color:#FFFF00;
  color:white;
}

.row.mt-2 {
    width: 100%!important;
}

.formbutton {
    color: white;
    background-color: #FFFF00;
    border-color: #faa310;
}

.error{
    color: red;
}
.row.mt-3 {
    max-width: 100%!important;
}
a.nav-link {
    font-size: 1.35vw;
}
