header,footer,button {
  background-color:#FFFF00;
  color:white;
}

.row.mt-2 {
    width: 100%!important;
}

.formbutton {
    color: white;
    background-color: #FFFF00;
    border-color: #faa310;
}

.error{
    color: red;
}

#homeh1container{
    background-color: black;
}

#activietenimg{
    background-image: url("../img/imker1.jpg");
}

#cursimg{
    background-image: url("../img/imker2.jpg");
}


#bijenhoudimg{
    background-image: url("../img/imker3.jpg");
}

#zwermimg{
    background-image: url("../img/imker4.jpg");
}

#lidimg{
    background-image: url("../img/download.jpg");
}